extensions/rax/data-model/src/main/resources/META-INF/xsd/RaxTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.openstack.org/atlas/api/v1.1/extensions/rax"
            xmlns:tns="http://docs.openstack.org/atlas/api/v1.1/extensions/rax"
            xmlns:core="http://docs.openstack.org/atlas/api/v1.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">


    <xsd:import schemaLocation="../../../../../../../../core-data-model/src/main/resources/META-INF/xsd/CoreApi.xsd"
                namespace="http://docs.openstack.org/atlas/api/v1.1"/>
                
    <!--ACCESS LIST EXTENSIONS-->
    <xsd:element name="accessList" type="tns:accessList"/>

    <xsd:complexType name="accessList">
        <xsd:sequence>
            <xsd:element name="networkItem" type="tns:networkItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="networkItem" type="tns:networkItem"/>

    <xsd:complexType name="networkItem">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="ipVersion" type="core:ipVersion"/>
        <xsd:attribute name="type" type="tns:networkItemType"/>
    </xsd:complexType>    
    
    <xsd:simpleType name="networkItemType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALLOW"/>
            <xsd:enumeration value="DENY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="errorPage" type="tns:errorPage"/>
    <xsd:complexType name="errorPage">
        <xsd:sequence>
            <xsd:element name="content" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- crazyname extension attribute for loadbalancer -->
    <xsd:attribute name="crazyname" type="xsd:string" />
    
    <!--CONNECTION THROTTLE EXTENSIONS-->
    <xsd:attribute name="minRequests" type="xsd:int"/>
    <xsd:attribute name="maxRequests" type="xsd:int"/>

    <!--HEALTH MONITOR EXTENSIONS-->
    <xsd:attribute name="statusRegex" type="xsd:string"/>
    <xsd:attribute name="bodyRegex" type="xsd:string"/>

    <!--USAGE EXTENSIONS-->
    <xsd:attribute name="averageNumConnections" type="xsd:decimal"/>
    <xsd:attribute name="numVips" type="xsd:int"/>
    <xsd:attribute name="numPolls" type="xsd:int"/>

    <!--TODO: DELETE AFTER PROOF OF CONCEPT COMPLETED-->
    <xsd:attribute name="crazyName" type="xsd:string"/>

    <xsd:element name="connectionLogging" type="tns:connectionLogging"/>

    <xsd:complexType name="connectionLogging">
        <xsd:attribute name="enabled" type="xsd:boolean"/>
    </xsd:complexType>

    <!-- Management Extensions -->
    <xsd:element name="hosts" type="tns:hosts"/>
    <xsd:complexType name="hosts">
        <xsd:sequence>
            <xsd:element name="host" type="tns:host" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="sticky" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:element name="host" type="tns:host"/>
    <xsd:complexType name="host">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="clusterId" type="xsd:int"/>
        <xsd:attribute name="coreDeviceId" type="xsd:string"/>
        <xsd:attribute name="status" type="tns:hostStatus"/>
        <xsd:attribute name="endpoint" type="xsd:string" />
        <xsd:attribute name="endpointActive" type="xsd:boolean"/>
        <xsd:attribute name="ipv4Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv6Servicenet" type="xsd:string"/>
        <xsd:attribute name="ipv4Public" type="xsd:string"/>
        <xsd:attribute name="ipv6Public" type="xsd:string"/>
        <xsd:attribute name="username" type="xsd:string" />
        <xsd:attribute name="password" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="hostStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE_TARGET"/>
            <xsd:enumeration value="OFFLINE"/>
            <xsd:enumeration value="BURN_IN"/>
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="FAILOVER"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
